<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success | theEVEsuite</title>
</head>
<body style="background-image: url('https://e0.pxfuel.com/wallpapers/739/50/desktop-wallpaper-dark-blue-checks-plain-thumbnail.jpg'); color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><center>
    
    <h4>theEVEsuite</h4><hr>
    <h1>Event Registered Successfully!</h1>
    <h3>Thank you for registering your event. Your event has been registered successfully.</h><br><br>
    <a href="/myevents" style="color: burlywood;">Go to 'My Events' page</a>
</center>
</body>
</html>
